html, body
  margin: 0
  padding: 0
  background-color: red

/*Begin nav balk*/

.navbalk
  background-color: #323232
  height: 200px
  padding: 20px
  position: sticky
  width: 2000px
  margin-top: -0px
  border-right: none
  img
    margin-top: -50px
    width: 200px
    height: 249px
  h1
    color: white
    margin-top: -100px
    margin-left: 600px
  ul
    list-style: none
    background-color: #323232
    text-align: center
    padding: 0
    margin: 0
    float: right
    margin-top: -100px
    margin-right: 100px
  li
    font-family: 'Oswald', sans-serif
    font-size: 1.2em
    line-height: 40px
    height: 40px
  a
    text-decoration: none
    color: #ff3e3e
    display: block
    background-color: #323232
    transition: 0.7s ease
    font-size: 18px
    cursor: pointer
    border: 2px solid red
    border-radius: 5px
    &:hover
      background-color: white
    &:active
      background-color: #fff
      color: #444
      cursor: pointer

/*Einde nav balk*/

/*Begin geaschiedenis*/

.geschiedenis
  background-color: red
  margin-top: -20px
  margin-bottom: -20px

.header
  text-align: center

.container
  background-color: black
  height: 500px
  width: 600px
  color: white

.container2
  background-color: black
  height: 500px
  width: 600px
  color: white
  margin-left: 620px
  margin-top: -510px

.container3
  background-color: black
  height: 500px
  width: 600px
  color: white
  margin-left: 1250px
  margin-top: -510px

/*Einde geschiedenis*/

/*begin footer*/

.footer
  background-color: #323232
  color: white
  margin-top: 50px
  height: 278px
  width: 1920px
  h4
    text-align: center
    line-height: 160px
    font-size: 30px

/*einde footer*/

@media screen and (min-width: 600px)
  .navbalk li
    width: 200px
    border-bottom: none
    height: 50px
    line-height: 50px
    font-size: 1.4em
    display: inline-block
    margin-right: -4px
